@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");


 


/*Gestion de usuarios*/
/*UsuariosAdmin*/
.titulo-info {
  font-size: 1.5em;
  margin: 0% 0 3% 0;
}

.informacion-container {
  max-width: 50%;
  max-height: 58vh;
  margin: 0 0 0 70vh; /* adjust margin top and left to position the container */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #5cb85c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacion-container .form-group {
  margin-bottom: 1.2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group .label-usuarios {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.column {
  flex: 1;
  margin: 0 1%;
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
}

.modificar-usua[type="button"] {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-left: 18vh;
  width: 30vh;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.inactivar[type="submit"] {
  display: flex;
  justify-content: center;
  margin-right: 1vh;
  margin-top: 3vh;
  margin-left: 2vh;
  width: 30vh;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modificar[type="submit"]:hover,
.inactivar[type="submit"]:hover {
  background-color: #3e8e41;
}

/*usarios.css*/
/* Estilo para el buscador de usuarios */
.buscador-usuarios {
  max-width: 20%; /* ancho máximo */
  max-height: 52vh;
  margin-left: 20vh;
  margin-bottom: 0;
  padding: 20px;
  float: left;
  background-color: #fff;
  border: 1px solid #5cb85c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
.titulo-usuario {
  font-size: 1.5em;
  margin-top: 15vh;
  margin-bottom: 8vh;
  margin-left: 16vh;
}

/* Estilo para el formulario de búsqueda */
.form-busqueda {
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 20px; /* add margin bottom to separate fields */
}

.campo .label-usuarios {
  display: block;
  margin-bottom: 10px;
}

.campo .input-check-usuarios[type="text"],
.campo .selector-documento {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
}

.registrar-usua {
  font-size: 1rem;
  text-align: center;
  margin-left: 3.2vh;
  margin-bottom: 10vh;
  position: static;
  padding: 10px;
  background-color: #fff; /* Fondo blanco para un estilo limpio y sencillo */
  color: #5cb85c; /* Texto en el mismo verde que el borde del formulario */
  border: 2px solid #fff; /* Borde en verde para que coincida con el resto del formulario */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Añade una transición suave para el hover */
}

.buscar {
  width: 100%; /* make the button full width */
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.boton-usuario[type="submit"]:hover{
  background-color: #3e8e41;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .buscador-usuarios {
    max-width: 40%; /* Ajusta el ancho máximo para pantallas más pequeñas */
    margin-left: 10%; /* Ajusta el margen izquierdo */
  }

  .titulo-usuario {
    font-size: 1.2em; /* Reduce el tamaño del título */
    margin-left: 10%; /* Ajusta el margen izquierdo */
  }

  .registrar-usua {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    margin-left: 2vh; /* Ajusta el margen izquierdo */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  .buscador-usuarios {
    max-width: 80%; /* Ajusta el ancho máximo para móviles */
    margin-left: 0; /* Elimina el margen izquierdo */
    padding: 15px; /* Reduce el padding */
  }

  .titulo-usuario {
    font-size: 1em; /* Reduce aún más el tamaño del título */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .registrar-usua {
    font-size: 0.8rem; /* Reduce el tamaño de la fuente */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .buscar {
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
  }
}

/* Media queries para pantallas más grandes */
@media (min-width: 1600px) {
  .buscador-usuarios {
    max-width: 15%; /* Ajusta el ancho máximo para pantallas grandes */
    margin-left: 25vh; /* Ajusta el margen izquierdo */
  }

  .titulo-usuario {
    font-size: 2em; /* Aumenta el tamaño del título */
    margin-left: 20vh; /* Ajusta el margen izquierdo */
  }

  .registrar-usua {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    margin-left: 0.5vh; /* Ajusta el margen izquierdo */
  }
}

.swal2-html-container {
  z-index: 1;
  display: flex ;
  margin: 0;
  padding: 1em 1.6em 0.3em;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align:initial;
  word-wrap: break-word;
  word-break: break-word;
}

swal.fire {
  padding: 0px;
  margin: 0px;
}

swal.fire title {
  margin: 0;
  padding: 0;
}

.swal2-popup {
  border-radius: 8px;
  border: 2px solid #5cb85c;
  padding: 0 0 0.03em;
  display:flex;
}

.swal2-validation-message {
  position: relative;
  bottom: 25%;
  margin: 0;
}

.swal2-actions .boton-usuario {
  background-color: #5cb85c;
  position: relative;
  bottom: 40%;
}

.registrar-usua {
  display: block;
  padding: 0px;
  margin: 0px;
}

.registrar-usua .form-busqueda {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .label-usuarios {
  display: flex;
  font-weight: 600;
  color: #333;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-group .input-check-usuarios:focus,
.form-group .selector-documento:focus {
  border-color: #5cb85c;
  outline: none;
}



/*PROFILEADMIN*/
/*ProfileAdmin.css*/
.swal2-html-container {
  z-index: 1;
  display: flex ;
  margin: 0;
  padding: 1em 1.6em 0.3em;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align:initial;
  word-wrap: break-word;
  word-break: break-word;
}

swal.fire {
  padding: 0px;
  margin: 0px;
}

swal.fire title {
  margin: 0;
  padding: 0;
}

.swal2-popup {
  border-radius: 8px;
  border: 2px solid #5cb85c;
  padding: 0 0 0.03em;
  display:flex;
}

.swal2-validation-message {
  position: relative;
  bottom: 25%;
  margin: 0;
}

.swal2-actions .boton-usuario {
  background-color: #5cb85c;
  position: relative;
  bottom: 40%;
}

.registrar-usua {
  display: block;
  padding: 0px;
  margin: 0px;
}

.registrar-usua .form-busqueda {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .label-usuarios {
  display: flex;
  font-weight: 600;
  color: #333;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-group .input-check-usuarios:focus,
.form-group .selector-documento:focus {
  border-color: #5cb85c;
  outline: none;
}

/*Informes css*/
/*Informes.css*/
/* Estilo para los encabezados */
.titulo-informes {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 0.5%;
}

.titulo2-informes {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;
}

/* Estilo para el contenido principal */
.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.container-informes {
  background-color: #fff;
  border: 1px solid #5CB85C;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para los botones de fecha */
.date-button, .select-button, .number-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid #5CB85C;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Etiquetas de los botones */
.date-labelfecha, .select-label-informesl, .number-label-informes {
  font-size: 1rem;
  margin-right: 1rem;
}

/* Inputs de fecha */
.date-inputs-informes {
  display: flex;
  gap: 0.5rem;
}

.date-inputs-informes .input-fecha-informes {
  width: 50px;
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  text-align: center;
}

/* Selector */
.select-informes {
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

/* Input numérico */
.input-number-informes {
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  font-size: 1rem;
  width: 150px;
  background-color: #fff;
}

/* Estilo del botón de eliminar */
/*PENDIENTEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!!*/
.btn-eliminar {
  background-color: #5CB85C;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: #d9534f;
}
/*PENDIENTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!*/



/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .main-content {
      margin-left: 0;
      width: 100%;
  }

  .container-informes {
      width: 90%;
  }

  .date-inputs-informes .input-fecha-informesa,
  .select-informes,
  .input-number-informes {
      width: 100%; /* Asegura que los inputs y select ocupen el ancho completo en pantallas más pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  .main-content {
      margin-left: 0;
      width: 100%;
  }

  .container-informes {
      width: 100%;
      padding: 1rem; /* Ajusta el padding para pantallas pequeñas */
  }

  .date-button, .select-button, .number-button {
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
  }

  .date-inputs-informes {
      flex-direction: column;
  }

  .date-inputs-informes .input-fecha-informes {
      width: 100%;
  }

  .select-informes {
      width: 100%;
  }

  .input-number-informes {
      width: 100%;
  }

  .btn-eliminar {
      font-size: 12px; /* Reduce el tamaño de la fuente del botón de eliminar en pantallas pequeñas */
      padding: 4px 8px; /* Reduce el padding del botón de eliminar */
  }
}

/* Media queries para pantallas más grandes (monitores de escritorio de alta resolución) */
@media (min-width: 1600px) {
  .main-content {
      margin-left: 250px; /* Mantén el margen izquierdo fijo para pantallas muy grandes */
      width: calc(100% - 250px);
  }

  .container-informes {
      width: 70%; /* Reduce el ancho del contenedor para aprovechar mejor el espacio */
      padding: 2rem; /* Aumenta el padding interno para una mejor presentación */
  }

  .date-button, .select-button, .number-button {
      padding: 1rem; /* Aumenta el padding para mejor visibilidad en pantallas grandes */
  }

  .date-inputs-informes .input-fecha-informes,
  .select-informes,
  .input-number-informes {
      width: auto; /* Permite que los inputs y select se ajusten automáticamente a su contenido */
  }

  .btn-eliminar {
      font-size: 16px; /* Aumenta el tamaño de la fuente del botón de eliminar para mejor visibilidad */
      padding: 8px 16px; /* Aumenta el padding del botón de eliminar */
  }
}

/*v_informes.css*/
.swal2-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.swal2-html-container {
  font-size: 18px;
}
.report-container-informes {
  text-align: center;
  font-family: 'Work Sans Regular', sans-serif;
  color: #333;
}

.report-container-informes .parrafo-informe {
  text-align: left;
}

.report-header-informes {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #5CB85C;
}

.report-content-informes {
  margin-bottom: 20px;
}

.report-footer-informes {
  font-style: italic;
  text-align: center;
  border-top: 2px solid #5CB85C;
  padding-top: 10px;
  margin-top: 20px;
}
.download-button-informes {
  background-color: #5CB85C;
  border: none;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
.download-button-informes .descargar-informe {
  border: none;
}



/*CALENDARIOUSUA*/
/* Estilos para el contenido principal */
.calendario-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  margin-top: 9vh; /* Espacio para la barra de navegación */
  height: 100vh; /* Asegura que ocupe toda la altura de la ventana */
}

/* Contenedor que agrupa el formulario y el calendario */
/* Contenedor que agrupa el formulario y el calendario */
.form-calendar-container {
  display: grid;
  justify-items: center;
  margin: 20vh auto; /* Ajusta el margen superior para bajar el contenedor */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  height: auto;
  padding-bottom: 0;
  box-sizing: content-box; /* Ajusta el box-sizing */
}

/* Estilos para el contenedor del formulario */
.form-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px;
  padding: 20px; /* Ajusta el padding según el diseño */
  border: 2px solid #5cb85c;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Asegura que padding no afecte el tamaño total */
  margin-top: 15vh; /* Ajusta el margen superior según sea necesario */
  margin-left: 50vh; 
  transform: translateX(-500px);/* Ajusta el margen izquierdo según sea necesario */
}

.form-container h2 {
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.form-container label {
  display: block;
  margin-bottom: 0.5rem;
  text-align: left; /* Mantiene los labels alineados a la izquierda */
}

.form-container input {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-container button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #5cb85c;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.form-container button:hover {
  background-color: #4cae4c;
}

/* Estilos para el contenedor del calendario */
.calendar-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: 450px;
  padding: 10px;
  border: 2px solid #5cb85c;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Asegura que padding no afecte el tamaño total */
  margin-top: 0; /* Ajusta el margen superior según sea necesario */
  margin-left: 0; /* Ajusta el margen izquierdo según sea necesario */
}
/* Estilos para la cuadrícula del calendario */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px; /* Espacio entre los días */
  margin-top: 1rem;
}

/* Estilos para los días del calendario */
.calendar-day {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

/* Estilo para los días con eventos */
.calendar-day.event {
  background-color: #e0ffe0; /* Color de fondo para los días con eventos */
  border-color: #5cb85c; /* Borde más oscuro para días con eventos */
  color: #333;
}

.calendar-day:hover {
  background-color: #f5f5f5;
}

.calendar-day.event:hover {
  background-color: #d4edda; /* Color de fondo más claro para días con eventos */
}




  /*PROFILEUSUA*/
  /* Estilo general para el contenedor principal */
  main {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 20px;
      height: auto; /* Ajusta automáticamente la altura */
      width: 90vw; /* Ajusta el ancho */
      max-width: 1000px; /* Ancho máximo del contenedor */
      border-radius: 8px;
      box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    }
    
    /* Estilo para el contenedor del título */
    .title-container-perfil{
      text-align: center;
    }
    
    /* Estilo del título */
    .section-title-perfil {
      font-size: 2.3em;
      margin-top: 20vh; /* Ajusta el espaciado superior */
      color: #2c3e50;

    }
    
    /* Estilo del contenedor del perfil */
    .main-perfil {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      padding: 20px;
      height: auto; /* Ajusta automáticamente la altura */
      width: 90vw; /* Ajusta el ancho */
      max-width: 1000px; /* Ancho máximo del contenedor */
      border: 1px solid #5cb85c;
      border-radius: 8px;
      background-color: #fff;
      box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    }
    
    /* Estilo para el contenedor del título */
    .title-container {
      text-align: center;
    }
    
    /* Estilo del título */
    .section-title {
      font-size: 2.5em;
      margin-top: 15vh; /* Ajusta el espaciado superior */
      color: #2c3e50;
    }
    
    /* Estilo del contenedor del perfil */
    .profile-container {
      display: flex;
      justify-content: center; /* Centra el formulario horizontalmente */
      align-items: center; /* Centra el contenido verticalmente */
      width: 100%; /* Ocupa todo el ancho del contenedor */
      max-width: 970px; /* Ancho máximo del contenedor del formulario */
    }
    
    /* Estilo del formulario */
    #formulario {
      display: grid;
      grid-template-columns: 1fr 1fr; /* Dos columnas de igual tamaño */
      gap: 35px; /* Espacio entre columnas */
      width: 100%; /* Ocupa todo el ancho del contenedor */
      max-width: 600px; /* Limita el ancho máximo para que se vea centrado */
      margin: 0 auto; /* Centra el formulario dentro de su contenedor */
    }
    
    /* Estilo de los grupos de formulario */
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px; /* Espacio entre campos */
      align-items: flex-end; /* Alinea los elementos a la derecha */
    }
    
    /* Estilo de las etiquetas */
    .form-group .datos {
      font-weight: 600;
      color: #333;
      margin-bottom: 5px; /* Espacio debajo de la etiqueta */
      text-align: right; /* Alinea el texto de la etiqueta a la derecha */
    }
    
    /* Estilo de los campos de entrada */
    .form-group .datos2,
.form-group .opciones {
  padding: 12px; /* Padding para mejor usabilidad */
  font-size: 16px;
  border: 1px solid #5cb85c;
  border-radius: 8px;
  width: 100%; /* Ocupa todo el ancho del contenedor */
  box-sizing: border-box; /* Incluye padding y border en el tamaño total */
  transition: border-color 0.3s ease;
}

/* Estilo para el enfoque en campos de entrada */
.form-group .datos2:focus,
.form-group .opciones:focus {
  border-color: #5cb85c;
  outline: none;
}
    
    /* Otros estilos como Media Queries se mantienen igual */
    
    
    /* Estilo para el enfoque en campos de entrada */
    .form-group .datos2:focus,
    .form-group .opciones:focus {
      border-color: #5cb85c;
      outline: none;
    }
    
    /* Media queries para pantallas más pequeñas */
    @media (max-width: 768px) {
      .profile-container {
          grid-template-columns: 1fr; /* Cambia a una columna en pantallas pequeñas */
      }
    
      .section-title {
          font-size: 2em; /* Reduce el tamaño del título */
          margin-top: 10vh; /* Ajusta el margen superior */
      }
    }
    
    /* Media queries para pantallas muy pequeñas (móviles) */
    @media (max-width: 480px) {
      main {
          padding: 15px; /* Reduce el padding en pantallas pequeñas */
          width: 95vw; /* Aumenta el ancho para aprovechar más el espacio */
      }
    
      #formulario {
          gap: 20px; /* Reduce el espacio entre los campos */
      }
    
      .form-group .datos2,
      .form-group .opciones {
          padding: 10px; /* Reduce el padding de los campos de entrada */
          font-size: 14px; /* Reduce el tamaño de la fuente */
      }
    }
    
    /* Media queries para pantallas muy grandes (monitores ultra anchos) */
    @media (min-width: 1440px) {
      main {
          width: 70vw; /* Reduce el ancho para evitar que el contenido se extienda demasiado */
          max-width: 1800px; /* Incrementa el máximo ancho del contenedor principal */
          padding: 50px; /* Incrementa el padding para dar más espacio alrededor del contenido */
      }
    
      .profile-container {
          grid-template-columns: repeat(4, 1fr); /* Añade una cuarta columna para aprovechar mejor el espacio */
          gap: 50px; /* Incrementa el espacio entre los campos */
      }
    
      .section-title {
          font-size: 3.5em; /* Incrementa el tamaño del título */
          margin-top: 8vh; /* Ajusta el margen superior para centrar mejor el contenido */
      }
    
      .form-group .datos2,
      .form-group .opciones {
          padding: 18px; /* Mayor padding para campos de entrada */
          font-size: 20px; /* Incrementa el tamaño de la fuente */
      }
    }
    
    /* Media queries para pantallas ultra grandes (televisores y pantallas de más de 1920px) */
    @media (min-width: 1920px) {
      main {
          width: 60vw; /* Reduce aún más el ancho para evitar que el contenido se extienda demasiado */
          max-width: 2000px; /* Incrementa el máximo ancho del contenedor principal */
          padding: 60px; /* Incrementa el padding para dar más espacio alrededor del contenido */
      }
    
      .profile-container {
        padding: 20px;
        background-color: #fff; /* Fondo blanco para el contenedor del formulario */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Incrementa el espacio entre los campos */
      }
    
      .section-title {
          font-size: 4em; /* Incrementa el tamaño del título */
          margin-top: 6vh; /* Ajusta el margen superior */
      }
    
      .form-group .datos2,
      .form-group .opciones {
          padding: 20px; /* Mayor padding para campos de entrada */
          font-size: 22px; /* Incrementa el tamaño de la fuente */
      }
    }  



    /*PROGRAMACIONUSUA*/

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }
    
    header {
      background-color: #333;
      color: white;
      padding: 10px;
      text-align: center;
    }
    
    nav {
      padding: 10px;
    }
    
    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    
    nav ul li {
      display: inline-block;
      margin: 0 10px;
    }
    
    nav ul li a {
      color: white;
      text-decoration: none;
    }
    
    .main-content {
      padding: 20px;
      display: flex;
      justify-content: center; /* Centra las tarjetas horizontalmente */
    }
    
    .container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      /*max-width: 1200px;*/
      width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
      margin: 0 auto; /* Centra el contenedor de las tarjetas */
      /*padding: 0 20px;*/ /* Añade espacio a los lados para evitar que el contenido toque los bordes */
      box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    }
    
    .card {
      background: white;
      border-radius: 15px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 400px; /* Fija el ancho de las tarjetas a 400px */
      box-sizing: border-box;
      margin-top: 10%;
      transform: translateX(260px); /* Mueve las tarjetas 50px a la izquierda */
    }
    
    .card h2 {
      margin-top: 0;
      font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
      text-align: center; /* Centra el texto */
 
    }
    
    .cuadro-info {
      margin-top: 10px;
      padding: 15px;
      background-color: #f9f9f9;
      border: 2px solid #006400; /* Borde verde oscuro */
      border-radius: 8px;
      text-align: center;
      transition: background-color 0.3s;
    }
    
    .cuadro-info:hover {
      background-color: #5cb85c;
      color: white;
    }
    
    .text-info {
      list-style: none;
      padding: 0;
      margin: 15px 0 0 0;
      font-size: 1rem;
      color: #555;
    }
    
    .text-info li {
      margin-bottom: 10px;
      line-height: 1.5;
      font-weight: 300;
      text-align: left; /* Alinea el texto a la izquierda dentro de las tarjetas */
    }
    
    .text-info li::before {
      content: "•"; /* Añade un punto al inicio de cada elemento de la lista */
      color: #5cb85c;
      margin-right: 8px;
    }

    



/*NAVUSUARIO*/
body {
  background-color: #5cb85c21;
  margin: 0;
  padding: 0;
  font-family: "Work Sans Regular", sans-serif;
}

/* Estilo del encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  top: 0;
  height: 9vh;
  width: 100%;
  border-bottom: 2px solid #5cb85c;
  position: fixed;
  z-index: 1000;
  padding: 0 1%; /* Agrega padding horizontal */
}

/* Estilo del logo */
.logo {
  padding: 5px;
  width: 15%;
  max-height: 15vh;
  object-fit: contain; /* Asegura que el logo se ajuste correctamente */
}

/* Estilo de la barra de navegación */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto; /* Permite que el nav se ajuste al contenido */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0 60px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  margin: 0 15px;
}

/* Estilo de los enlaces de la barra de navegación */
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 50px;
  position: relative;
}

/* Estilo de los iconos */
nav ul li a .icono {
  width: 3vh;
  height: 3vh;
  padding: 0px 5px;
  margin: 0;
}

/* Efecto de hover en los enlaces */
nav ul li a:hover {
  background-color: #5cb85cc2;
}

/* Estilo de los enlaces de cerrar sesión */
.cerrarSesion {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cerrarSesion a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 4px 10px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 50px;
  position: relative;
}

.cerrarSesion a:hover {
  background-color: #5cb85cc2;
}

/* Estilo de la línea inferior para el botón de cerrar sesión activo */
.cerrarSesion a.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 10%;
  right: 10%;
  height: 3px;
  background-color: #5cb85c;
  border-radius: 50px;
}

/* Estilo de los iconos en cerrar sesión */
.cerrarSesion a .icono {
  width: 3.4vh;
  height: 3.4vh;
}

.cerrarSesion a .icono:hover {
  filter: brightness(0.5);
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .logo {
    width: 12%; /* Ajusta el tamaño del logo para pantallas más pequeñas */
  }

  nav ul li {
    margin: 0 10px; /* Reduce el margen entre los elementos de la barra de navegación */
  }

  nav ul li a {
    padding: 4px 8px; /* Reduce el padding de los enlaces */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto; /* Permite que el header se ajuste al contenido */
    padding: 10px 5%; /* Añade padding para el contenido del header */
  }

  .logo {
    width: 30%; /* Aumenta el tamaño del logo en pantallas móviles */
    max-height: none; /* Permite que el logo se ajuste libremente en pantallas pequeñas */
  }

  nav {
    margin: 0; /* Elimina el margen para que el contenido del nav esté centrado */
  }

  nav ul {
    flex-direction: column; /* Coloca los elementos de navegación en columna */
  }

  nav ul li {
    margin: 10px 0; /* Ajusta el margen entre los elementos en columna */
  }

  nav ul li a {
    padding: 6px 12px; /* Aumenta el padding de los enlaces para pantallas móviles */
  }

  .cerrarSesion a {
    padding: 6px 14px; /* Aumenta el padding del botón de cerrar sesión */
  }
}

/* Media queries para pantallas más grandes */
@media (min-width: 1440px) {
  header {
    height: 10vh; /* Ajusta la altura del encabezado para pantallas grandes */
    padding: 0 4%; /* Aumenta el padding para centrar mejor el contenido */
  }

  .logo {
    width: 10%; /* Reduce el tamaño del logo para pantallas muy grandes */
  }

  nav {
    flex-grow: 0; /* Desactiva el crecimiento del flex para mantener el nav centrado */
    width: auto; /* Ajusta el ancho del nav para que no se expanda demasiado */
  }

  nav ul {
    margin: 0;
  }

  nav ul li {
    margin: 0 20px; /* Aumenta el margen entre los elementos de la barra de navegación */
  }

  nav ul li a {
    padding: 6px 14px; /* Aumenta el padding de los enlaces para mejor visibilidad */
    font-size: 16px; /* Aumenta el tamaño de la fuente de los enlaces */
  }

  .cerrarSesion a {
    padding: 6px 16px; /* Aumenta el padding del botón de cerrar sesión */
    font-size: 16px; /* Aumenta el tamaño de la fuente del botón de cerrar sesión */
  }
}

/*NAVADMIN*/
/* Estilo del cuerpo */
body {
  background-color: #5cb85c21;
  margin: 0;
  padding: 0;
  font-family: "Work Sans Regular", sans-serif;
}

/* Estilo del encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  top: 0;
  height: 9vh;
  width: 100%;
  border-bottom: 2px solid #5cb85c;
  position: fixed;
  z-index: 1000;
  padding: 0 1%; /* Añade padding para asegurar que el contenido no esté pegado a los bordes */
  box-sizing: border-box;
}

/* Estilo del logo */
.logo {
  padding: 5px;
  width: 15%;
  max-height: 15vh;
}

/* Estilo de la barra de navegación */
.nav {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  margin: 0; /* Elimina el margen derecho para centrar el nav */
}

.nav .ul {
  list-style: none;
  padding: 0;
  margin: 0 75px -20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav .ul .li {
  margin: 0 15px;
}

/* Estilo de los enlaces de la barra de navegación */
.nav .ul .li .a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 50px;
  position: relative; /* Necesario para la línea inferior */
}

/* Estilo de los iconos */
nav ul li a .icono {
  width: 3vh;
  height: 3vh;
  padding: 0px 5px;
  margin: 0;
}

/* Efecto de hover en los enlaces */
nav ul li a:hover {
  background-color: #5cb85cc2;
}

/* Estilo de los enlaces de cerrar sesión */
.cerrarSesion {
  display: flex;
  align-items: center;
}

.cerrarSesion a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  padding: 4px 10px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 50px;
  position: relative; /* Necesario para la línea inferior */
}

.cerrarSesion a:hover {
  background-color: #5cb85cc2;
}

/* Estilo de la línea inferior para el botón de cerrar sesión activo */
.cerrarSesion a.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 10%;
  right: 10%;
  height: 3px;
  background-color: #5cb85c;
  border-radius: 50px;
}

/* Estilo de los iconos en cerrar sesión */
.cerrarSesion a .icono {
  width: 3.4vh;
  height: 3.4vh;
}

.cerrarSesion a .icono:hover {
  filter: brightness(0.5);
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .logo {
    width: 12%; /* Ajusta el tamaño del logo para pantallas más pequeñas */
  }

  nav ul li {
    margin: 0 10px; /* Reduce el margen entre los elementos de la barra de navegación */
  }

  nav ul li a {
    padding: 4px 8px; /* Reduce el padding de los enlaces */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  header {
    flex-direction: column;
    height: auto; /* Permite que el header se ajuste al contenido */
    padding: 10px 5%; /* Añade padding para el contenido del header */
  }

  .logo {
    width: 30%; /* Aumenta el tamaño del logo en pantallas móviles */
    max-height: none; /* Permite que el logo se ajuste libremente en pantallas pequeñas */
  }

  nav {
    margin: 0; /* Elimina el margen para que el contenido del nav esté centrado */
  }

  nav ul {
    flex-direction: column; /* Coloca los elementos de navegación en columna */
  }

  nav ul li {
    margin: 10px 0; /* Ajusta el margen entre los elementos en columna */
  }

  nav ul li a {
    padding: 6px 12px; /* Aumenta el padding de los enlaces para pantallas móviles */
  }

  .cerrarSesion a {
    padding: 6px 14px; /* Aumenta el padding del botón de cerrar sesión */
  }
}

/* Media queries para pantallas más grandes */
@media (min-width: 1440px) {
  header {
    height: 10vh; /* Ajusta la altura del encabezado para pantallas grandes */
    padding: 0 4%; /* Aumenta el padding para centrar mejor el contenido */
  }

  .logo {
    width: 10%; /* Reduce el tamaño del logo para pantallas muy grandes */
  }

  nav {
    flex-grow: 0; /* Desactiva el crecimiento del flex para mantener el nav centrado */
    width: auto; /* Ajusta el ancho del nav para que no se expanda demasiado */
  }

  nav ul {
    margin: 0;
  }

  nav ul li {
    margin: 0 20px; /* Aumenta el margen entre los elementos de la barra de navegación */
  }

  nav ul li a {
    padding: 6px 14px; /* Aumenta el padding de los enlaces para mejor visibilidad */
    font-size: 16px; /* Aumenta el tamaño de la fuente de los enlaces */
  }

  .cerrarSesion a {
    padding: 6px 16px; /* Aumenta el padding del botón de cerrar sesión */
    font-size: 16px; /* Aumenta el tamaño de la fuente del botón de cerrar sesión */
  }
}