@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*NavAdmin css*/
.swal2-html-container {
  z-index: 1;
  display: flex ;
  margin: 0;
  padding: 1em 1.6em 0.3em;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align:initial;
  word-wrap: break-word;
  word-break: break-word;
}

swal.fire {
  padding: 0px;
  margin: 0px;
}

swal.fire title {
  margin: 0;
  padding: 0;
}

.swal2-popup {
  border-radius: 8px;
  border: 2px solid #5cb85c;
  padding: 0 0 0.03em;
  display:flex;
}

.swal2-validation-message {
  position: relative;
  bottom: 25%;
  margin: 0;
}

.swal2-actions .boton-usuario {
  background-color: #5cb85c;
  position: relative;
  bottom: 40%;
}

.registrar-usua {
  display: block;
  padding: 0px;
  margin: 0px;
}

.registrar-usua .form-busqueda {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .label-usuarios {
  display: flex;
  font-weight: 600;
  color: #333;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-group .input-check-usuarios:focus,
.form-group .selector-documento:focus {
  border-color: #5cb85c;
  outline: none;
}


/*Gestion de usuarios*/
/*UsuariosAdmin*/
.titulo-info {
  font-size: 1.5em;
  margin: 0% 0 3% 0;
}

.informacion-container {
  max-width: 50%;
  max-height: 58vh;
  margin: 0 0 0 70vh; /* adjust margin top and left to position the container */
  padding: 20px;
  background-color: #fff;
  border: 1px solid #5cb85c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.informacion-container .form-group {
  margin-bottom: 1.2%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-group .label-usuarios {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.column {
  flex: 1;
  margin: 0 1%;
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
}

.modificar-usua[type="button"] {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-left: 18vh;
  width: 30vh;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.inactivar[type="submit"] {
  display: flex;
  justify-content: center;
  margin-right: 1vh;
  margin-top: 3vh;
  margin-left: 2vh;
  width: 30vh;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.modificar[type="submit"]:hover,
.inactivar[type="submit"]:hover {
  background-color: #3e8e41;
}

/*usarios.css*/
/* Estilo para el buscador de usuarios */
.buscador-usuarios {
  max-width: 20%; /* ancho máximo */
  max-height: 52vh;
  margin-left: 20vh;
  margin-bottom: 0;
  padding: 20px;
  float: left;
  background-color: #fff;
  border: 1px solid #5cb85c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el título */
.titulo-usuario {
  font-size: 1.5em;
  margin-top: 15vh;
  margin-bottom: 8vh;
  margin-left: 16vh;
}

/* Estilo para el formulario de búsqueda */
.form-busqueda {
  margin-bottom: 20px;
}

.campo {
  margin-bottom: 20px; /* add margin bottom to separate fields */
}

.campo .label-usuarios {
  display: block;
  margin-bottom: 10px;
}

.campo .input-check-usuarios[type="text"],
.campo .selector-documento {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: 1px solid #5cb85c;
  border-radius: 5px;
}

.registrar-usua {
  font-size: 1rem;
  text-align: center;
  margin-left: 3.2vh;
  margin-bottom: 10vh;
  position: static;
  padding: 10px;
  background-color: #fff; /* Fondo blanco para un estilo limpio y sencillo */
  color: #5cb85c; /* Texto en el mismo verde que el borde del formulario */
  border: 2px solid #fff; /* Borde en verde para que coincida con el resto del formulario */
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Añade una transición suave para el hover */
}

.buscar {
  width: 100%; /* make the button full width */
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  background-color: #5cb85c;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.boton-usuario[type="submit"]:hover{
  background-color: #3e8e41;
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .buscador-usuarios {
    max-width: 40%; /* Ajusta el ancho máximo para pantallas más pequeñas */
    margin-left: 10%; /* Ajusta el margen izquierdo */
  }

  .titulo-usuario {
    font-size: 1.2em; /* Reduce el tamaño del título */
    margin-left: 10%; /* Ajusta el margen izquierdo */
  }

  .registrar-usua {
    font-size: 0.9rem; /* Reduce el tamaño de la fuente */
    margin-left: 2vh; /* Ajusta el margen izquierdo */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  .buscador-usuarios {
    max-width: 80%; /* Ajusta el ancho máximo para móviles */
    margin-left: 0; /* Elimina el margen izquierdo */
    padding: 15px; /* Reduce el padding */
  }

  .titulo-usuario {
    font-size: 1em; /* Reduce aún más el tamaño del título */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .registrar-usua {
    font-size: 0.8rem; /* Reduce el tamaño de la fuente */
    margin-left: 0; /* Elimina el margen izquierdo */
  }

  .buscar {
    font-size: 0.9rem; /* Ajusta el tamaño de la fuente */
  }
}

/* Media queries para pantallas más grandes */
@media (min-width: 1600px) {
  .buscador-usuarios {
    max-width: 15%; /* Ajusta el ancho máximo para pantallas grandes */
    margin-left: 25vh; /* Ajusta el margen izquierdo */
  }

  .titulo-usuario {
    font-size: 2em; /* Aumenta el tamaño del título */
    margin-left: 20vh; /* Ajusta el margen izquierdo */
  }

  .registrar-usua {
    font-size: 1.2rem; /* Aumenta el tamaño de la fuente */
    margin-left: 0.5vh; /* Ajusta el margen izquierdo */
  }
}

.swal2-html-container {
  z-index: 1;
  display: flex ;
  margin: 0;
  padding: 1em 1.6em 0.3em;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align:initial;
  word-wrap: break-word;
  word-break: break-word;
}

swal.fire {
  padding: 0px;
  margin: 0px;
}

swal.fire title {
  margin: 0;
  padding: 0;
}

.swal2-popup {
  border-radius: 8px;
  border: 2px solid #5cb85c;
  padding: 0 0 0.03em;
  display:flex;
}

.swal2-validation-message {
  position: relative;
  bottom: 25%;
  margin: 0;
}

.swal2-actions .boton-usuario {
  background-color: #5cb85c;
  position: relative;
  bottom: 40%;
}

.registrar-usua {
  display: block;
  padding: 0px;
  margin: 0px;
}

.registrar-usua .form-busqueda {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .label-usuarios {
  display: flex;
  font-weight: 600;
  color: #333;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-group .input-check-usuarios:focus,
.form-group .selector-documento:focus {
  border-color: #5cb85c;
  outline: none;
}

/*ProfileAdmin*/
/*ProfileAdmin.css*/
.swal2-html-container {
  z-index: 1;
  display: flex ;
  margin: 0;
  padding: 1em 1.6em 0.3em;
  overflow: auto;
  color: inherit;
  font-size: 1.125em;
  font-weight: normal;
  line-height: normal;
  text-align:initial;
  word-wrap: break-word;
  word-break: break-word;
}

swal.fire {
  padding: 0px;
  margin: 0px;
}

swal.fire title {
  margin: 0;
  padding: 0;
}

.swal2-popup {
  border-radius: 8px;
  border: 2px solid #5cb85c;
  padding: 0 0 0.03em;
  display:flex;
}

.swal2-validation-message {
  position: relative;
  bottom: 25%;
  margin: 0;
}

.swal2-actions .boton-usuario {
  background-color: #5cb85c;
  position: relative;
  bottom: 40%;
}

.registrar-usua {
  display: block;
  padding: 0px;
  margin: 0px;
}

.registrar-usua .form-busqueda {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group .label-usuarios {
  display: flex;
  font-weight: 600;
  color: #333;
  text-align: left; /* Alinea el texto del label a la izquierda */
}

.form-group .input-check-usuarios,
.form-group .selector-documento {
  padding: 10px;
  font-size: 16px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  transition: border-color 0.3s ease;
}

.form-group .input-check-usuarios:focus,
.form-group .selector-documento:focus {
  border-color: #5cb85c;
  outline: none;
}

/*Informes css*/
/*Informes.css*/
/* Estilo para los encabezados */
.titulo-informes {
  text-align: center;
  margin-top: 12vh;
  margin-bottom: 0.5%;
}

.titulo2-informes {
  text-align: center;
  margin-top: 0;
  font-size: 1rem;
}

/* Estilo para el contenido principal */
.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor del formulario */
.container-informes {
  background-color: #fff;
  border: 1px solid #5CB85C;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo para los botones de fecha */
.date-button, .select-button, .number-button {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 1px solid #5CB85C;
  border-radius: 8px;
  padding: 0.75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Etiquetas de los botones */
.date-labelfecha, .select-label-informesl, .number-label-informes {
  font-size: 1rem;
  margin-right: 1rem;
}

/* Inputs de fecha */
.date-inputs-informes {
  display: flex;
  gap: 0.5rem;
}

.date-inputs-informes .input-fecha-informes {
  width: 50px;
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  text-align: center;
}

/* Selector */
.select-informes {
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

/* Input numérico */
.input-number-informes {
  padding: 0.5rem;
  border: 1px solid #5CB85C;
  border-radius: 4px;
  font-size: 1rem;
  width: 150px;
  background-color: #fff;
}

/* Estilo del botón de eliminar */
/*PENDIENTEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!!*/
.btn-eliminar {
  background-color: #5CB85C;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.btn-eliminar:hover {
  background-color: #d9534f;
}
/*PENDIENTEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE!!!*/



/* Media queries para pantallas más pequeñas */
@media (max-width: 1024px) {
  .main-content {
      margin-left: 0;
      width: 100%;
  }

  .container-informes {
      width: 90%;
  }

  .date-inputs-informes .input-fecha-informesa,
  .select-informes,
  .input-number-informes {
      width: 100%; /* Asegura que los inputs y select ocupen el ancho completo en pantallas más pequeñas */
  }
}

/* Media queries para pantallas muy pequeñas (móviles) */
@media (max-width: 600px) {
  .main-content {
      margin-left: 0;
      width: 100%;
  }

  .container-informes {
      width: 100%;
      padding: 1rem; /* Ajusta el padding para pantallas pequeñas */
  }

  .date-button, .select-button, .number-button {
      flex-direction: column;
      gap: 0.5rem;
      padding: 0.5rem;
  }

  .date-inputs-informes {
      flex-direction: column;
  }

  .date-inputs-informes .input-fecha-informes {
      width: 100%;
  }

  .select-informes {
      width: 100%;
  }

  .input-number-informes {
      width: 100%;
  }

  .btn-eliminar {
      font-size: 12px; /* Reduce el tamaño de la fuente del botón de eliminar en pantallas pequeñas */
      padding: 4px 8px; /* Reduce el padding del botón de eliminar */
  }
}

/* Media queries para pantallas más grandes (monitores de escritorio de alta resolución) */
@media (min-width: 1600px) {
  .main-content {
      margin-left: 250px; /* Mantén el margen izquierdo fijo para pantallas muy grandes */
      width: calc(100% - 250px);
  }

  .container-informes {
      width: 70%; /* Reduce el ancho del contenedor para aprovechar mejor el espacio */
      padding: 2rem; /* Aumenta el padding interno para una mejor presentación */
  }

  .date-button, .select-button, .number-button {
      padding: 1rem; /* Aumenta el padding para mejor visibilidad en pantallas grandes */
  }

  .date-inputs-informes .input-fecha-informes,
  .select-informes,
  .input-number-informes {
      width: auto; /* Permite que los inputs y select se ajusten automáticamente a su contenido */
  }

  .btn-eliminar {
      font-size: 16px; /* Aumenta el tamaño de la fuente del botón de eliminar para mejor visibilidad */
      padding: 8px 16px; /* Aumenta el padding del botón de eliminar */
  }
}

/*v_informes.css*/
.swal2-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.swal2-html-container {
  font-size: 18px;
}
.report-container-informes {
  text-align: center;
  font-family: 'Work Sans Regular', sans-serif;
  color: #333;
}

.report-container-informes .parrafo-informe {
  text-align: left;
}

.report-header-informes {
  display: flex;
  text-align: center;
  margin-bottom: 10px;
  border-bottom: 2px solid #5CB85C;
}

.report-content-informes {
  margin-bottom: 20px;
}

.report-footer-informes {
  font-style: italic;
  text-align: center;
  border-top: 2px solid #5CB85C;
  padding-top: 10px;
  margin-top: 20px;
}
.download-button-informes {
  background-color: #5CB85C;
  border: none;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
}
.download-button-informes .descargar-informe {
  border: none;
}